body{
    background: rgba(204, 217, 206, 0.1);
    font-family: 'Barlow', sans-serif;   
    background: url('../../static/backgrounds/img/cash.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;   
}

.col-sm-6{
    padding: 1%;
    float: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.border{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 2%;
    background-color: #fff;
}
.wishes{
    text-align: center;
    border-bottom: solid black 2px;
    font-size: 18px;
    font-weight: 600;
    color: #0A1829;

}

label{
    padding-right: 1%;
    color: #0A1829;
    font-weight: 600;
}

input{
    margin-right: 1%;
}

.input-group{
    width: 30%;
}

.time{
    width: 20%;

}

.calendar{
    text-align: center;
}

.card img {
    width:100%;
  }

 .container-fluid {
    min-height: 78vh;
 }

 .price{
    float: right;
    padding-right: 5%;
    color: green;
}
.list-inline-item{
    font-size: 28px;

}

.name{
    padding-left: 5%;
    color: #0A1829;

}

.time::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
    font-weight: 100;
    
  }

  @media only screen and (max-width: 575px) {
    .border.top-wish {
        display: none;
    }
}

.content-holder {
    min-height: 600px;
}






.list-completed {
    background-color: #fff;
    margin: 0px 0px 61px 0px;
    padding: 30px;
    list-style: none;
    max-width: 800px;
    margin: 0px auto;
}
.questions-list-question {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    background-color: #eee;
    font-size: 20px;
    cursor: pointer;
}
.questions-list-answer {
    font-size: 17px;
    padding: 10px;
}
.questions-list-item {
    max-height: 43px;
    overflow: hidden;
}
.questions-list-item.opened {
    max-height: 100%;
    
}
.content-holder {
    min-height: 600px;
}
h2 {
    font-family: Comic Sans MS, CenturyGothic, AppleGothic, sans-serif;
    color:#04223c;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    
  }
  .questions-holder {
    background-color: #fff;
    max-width: 900px;
    margin: 60px auto;
}

h4 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 23px;
    font-style: italic;
}