@import url('https://fonts.googleapis.com/css?family=Barlow:300,400');

body{
    background: rgba(204, 217, 206, 0.1);
    font-family: 'Barlow', sans-serif;   
    background: url('../../static/backgrounds/img/cash.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;   
}

.col-sm-6{
    padding: 1%;
    float: left;
}

.tracker{
    text-align: center;
    border-bottom: solid black 2px;
    font-size: 18px;
    font-weight: 600;
    color: #0A1829;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.border{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 2%;
    background-color: #fff;
}
.wishes{
    text-align: center;
    border-bottom: solid black 2px;
    font-size: 18px;
    font-weight: 600;
    color: #0A1829;

}

label{
    padding-right: 1%;
    color: #0A1829;
    font-weight: 600;
}

input{
    margin-right: 1%;
}

.input-group{
    width: 30%;
}

.time{
    width: 20%;

}

.calendar{
    text-align: center;
}

.card img {
    width:100%;
  }

 .container-fluid {
    min-height: 78vh;
 }

 .price{
    float: right;
    padding-right: 5%;
    color: green;
}
.list-inline-item{
    font-size: 28px;

}

.name{
    padding-left: 5%;
    color: #0A1829;

}

.time::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
    font-weight: 100;
    
  }

  @media only screen and (max-width: 575px) {
    .border.top-wish {
        display: none;
    }
}

.content-holder {
    min-height: 600px;
}

.footer{
    position: absolute;
}

.card {
    width: 65%;
    margin: 0 auto;
}
.col-md-12{
    padding-bottom: 11px;
}

h1.aboutush{
    text-align: center;
    text-decoration: underline;
  }

  p.aboutusp{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

  .aboutbody{
      background-color:#F6EDD3!important;
  }

  p.contact{
      font-size: 20px;
      text-align: center;
      font-weight: 600;
  }

  p.contactp{
    text-align: center;

  }